* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

/* Upgrade Button */
.btn-top-container {
    height: 4em;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: end;
    position: fixed;
    width: 100%;
}

.btn-top {
    border: 1px solid white;
    padding: 0.8em 2.5em;
    border-radius: 20px;
    background-color: black;
    font-size: x-small;
}

.btn-top a {
    text-decoration: none;
    color: white;
}

.btn-top a:hover {
    font-size: small;
}
/* End Upgrade Button */

/****** Main and Header **********************/
.main-header-container {
    display: flex;
}

/* Header */
.header-cont {
    width: 10vw;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0.5em;
}

.logo {
    display: flex;
    margin: 0.5em;
    z-index: 99;
}

.logo a {
    width: 100%;
}

.user-menu-container,
.music-menu-container {
    line-height: 1.8em;
    margin-left: 0.5em;
}

.user-menu-container .user-menu,
.music-menu-container .music-menu {
    list-style: none;
    font-size: small;
}

.user-menu-container .user-menu li > a,
.music-menu-container .music-menu li > a, 
.user-name-container a {
    text-decoration: none;
    color: #b3b3b3;
}

.user-menu-container .user-menu li:first-child a:first-child,
.music-menu-container .music-menu li:first-child a:first-child {
    color: white;
}

.user-menu-container .user-menu li a img,
.music-menu-container .music-menu li a img {
    width: 15%;
    vertical-align: text-top;
    filter: brightness(0) saturate(100%) invert(72%) sepia(0%) saturate(210%) hue-rotate(140deg) brightness(100%) contrast(93%);
}


.music-menu-container {
    overflow: auto;
}

.music-menu-container h4 {
    margin: 1em 0 0.5em;
}

.music-menu-container .music-menu li:first-child a:first-child{
    font-size: 1.2em;
}

.music-menu-container .music-menu li a i {
    font-size: 1.5em;
    margin-right: 0.3em;
    vertical-align: text-top;
}

.user-name-container {
    margin-top: auto;
    font-size: small;
}

.user-name-container span {
    display: block;
}

.install-app {
    font-size: smaller;
}

.install-app a i {
    font-size: 0.8em;
    padding: 0.5em;
    border-radius: 50%;
    border: 1px solid #b3b3b3;
    vertical-align: middle;
    margin-right: 0.3em;
}

.install-app::after {
    content: '';
    width: 80%;
    height: 1px;
    background-color: #b3b3b3;
    margin: 0.9em 0;
    display: block;
}

.user-name-container .user-name a svg {
    background-color: #adb5bd;
    border-radius: 48%;
    width: 17%;
    margin-right: 0.3em;
}

/* End Header */
/* Main */

.main-cont {
    width: 90vw;
}
/* End Main */
/********End Main and Header**********************/

/* Footer */
footer {
    background-color: #2b2b2b;
    height: 4.5em;
}
/* End Footer */

.header-cont,
.main-cont {
    height: calc(100vh - 4.5em);
    background-color: salmon;
}

.header-cont {
    background-color: black;
}