* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

/* Upgrade Button */
.btn-top-container {
    height: 4em;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: end;
    position: fixed;
    width: 100%;
}

.btn-top {
    border: 1px solid white;
     padding: 0.8em 2.5em;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: x-small;
}
/* End Upgrade Button */

/* Main and Header */
.main-header-container {
    display: flex;
}

.header-cont {
    width: 10%;
    display: flex;
    flex-direction: column;
    color: white;
}

.logo {
    display: flex;
    margin: 1em;
    z-index: 99;
}

.logo-img {
    display: inline-block;
    
}

.logo-img > img{
    filter: invert(1);
    margin-right: 0.3em;
}

.logo-name {
    font-size: 1.5em;
}

.main-cont {
    width: 90%;
}
/* End Main and Header */

.header-cont,
.main-cont {
    height: 500px;
    background-color: salmon;
}

.header-cont {
    background-color: red;
}