
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 80%;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

/* Upgrade Button */
.btn-top-container {
    height: 4em;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: end;
    position: fixed;
    width: calc(100vw - 210px);
    z-index: 999;
    margin-left: 210px;
}

.btn-top {
    border: 1px solid white;
    padding: 0.8em 2.5em;
    border-radius: 20px;
    background-color: black;
    font-size: x-small;
}

.btn-top a {
    text-decoration: none;
    color: white;
}

.btn-top a:hover {
    font-size: small;
}
/* End Upgrade Button */

/****** Main and Header **********************/
.header-cont,
.main-cont {
    height: calc(100vh - 4.5em);
    background-color: black;
    padding: 1em;
}

.main-header-container {
    display: flex;
    overflow: hidden;
}

/* Header */
.header-cont {
    width: 210px;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0.5em;
}

.logo-small {
    display: none;
}

.logo {
    display: flex;
    margin: 0.5em;
    z-index: 99;
}

.logo a {
    width: 100%;
}

.user-menu-container,
.music-menu-container {
    line-height: 1.8em;
    margin-left: 0.5em;
}

.user-menu-container .user-menu,
.music-menu-container .music-menu {
    list-style: none;
}

.user-menu-container .user-menu li a span {
    vertical-align: bottom;
}

.user-menu-container .user-menu li  a,
.music-menu-container .music-menu li  a, 
.user-name-container a {
    text-decoration: none;
    color: #b3b3b3;
}

.user-menu-container .user-menu li  a:hover,
.music-menu-container .music-menu li  a:hover, 
.user-name-container a:hover {
    color: white;
}

.user-menu-container .user-menu li:first-child a:first-child,
.music-menu-container .music-menu li:first-child a:first-child {
    color: white;
}

.user-menu-container .user-menu li a img,
.music-menu-container .music-menu li a img {
    width: 15%;
    vertical-align: text-top;
    filter: brightness(0) saturate(100%) invert(72%) sepia(0%) saturate(210%) hue-rotate(140deg) brightness(100%) contrast(93%);
}

.user-menu-container .user-menu li a img:hover {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(128deg) brightness(106%) contrast(100%);
}

.music-menu-container {
    overflow: auto;
}

.music-menu-container h4 {
    margin: 1em 0 0.5em;
}

.music-menu-container .music-menu li:first-child a:first-child{
    font-size: 1.2em;
}

.music-menu-container .music-menu li a i {
    margin-right: 0.3em;
    vertical-align: text-top;
    font-size: 1.5em;
}

.user-name-container {
    margin-top: auto;
}

.install-app {
    font-size: smaller;
}

.install-app a i {
    font-size: 0.8em;
    padding: 0.5em;
    border-radius: 50%;
    border: 1px solid #b3b3b3;
    vertical-align: middle;
    margin-right: 0.3em;
}

.install-app::after {
    content: '';
    width: 80%;
    height: 1px;
    background-color: #b3b3b3;
    margin: 0.9em 0;
    display: block;
}

.user-name-container div .svg-user-name {
    display: inline;
}

.user-name-container div .svg-user-name svg {
    vertical-align: middle;
}

.user-name-container .user-name a svg {
    background-color: #adb5bd;
    border-radius: 48%;
    width: 17%;
    margin-right: 0.3em;
}

/* End Header */
/* Main */

.main-cont {
    width: calc(100vw - 210px);
    overflow: auto;
    color: white;
    background-color: #141922;
}

.main-nav-container {
    display: flex;
    justify-content: center;
    padding-top: 4.5em;
}

.main-nav-container ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    width: 50%;
    gap: 1em;
    height: 3em;
    min-width: 100%;
}

.main-nav-container ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #b3b3b3;
    font-size: smaller;
}

.main-nav-container ul li a:hover {
    color: white;
}

.main-nav-container ul li:first-child a:after,
.main-nav-container ul li:hover a:after {
    content: "";
    display: block;
    background-color: chartreuse;
    height: 2px;
    width: 40px;
    margin: 0 auto;
  }

.main-cont div h2 {
    margin-bottom: 1.5em;
    font-weight: bold;
}

.main-cont div p {
    margin-bottom: 1.5em;
}

.main-cont .recently-played ul li h4,
.main-cont .for-you ul li  h4,
.main-cont .popular-artists ul li h4 {
    font-weight: 900;
}

.main-cont .recently-played ul li,
.main-cont .for-you ul li,
.main-cont .popular-artists ul li {
    width: calc(100% / 6);
}

.main-cont .recently-played ul li div,
.main-cont .for-you ul li div,
.main-cont .popular-artists ul li div {
    position: relative;
}

.main-cont .recently-played ul li i,
.main-cont .for-you ul li i,
.main-cont .popular-artists ul li i {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-27%, -55%);
    font-size: 4.5em;
}

.main-cont .recently-played ul,
.main-cont .for-you ul,
.main-cont .popular-artists ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: x-small;
    text-align: center;
}

.main-cont .recently-played ul li div img,
.main-cont .for-you ul li div img,
.main-cont .popular-artists ul li div img {
    width: 100%;
    min-width: 100%;
    margin: 1em 1em 1.5em;
}

.main-cont .recently-played ul li div img:hover,
.main-cont .for-you ul li div img:hover,
.main-cont .popular-artists ul li div img:hover {
    opacity: 0.35;
    cursor: pointer;
}

.main-cont .recently-played ul li:hover i,
.main-cont .for-you ul li:hover i,
.main-cont .popular-artists ul li:hover i {
    visibility: visible;
}

.main-cont .recently-played ul li i:hover,
.main-cont .for-you ul li:hover,
.main-cont .popular-artists ul li:hover {
    cursor: pointer;
}

#einaudi-img {
    width: 94%;
}

.main-cont .popular-artists ul li div img {
    border-radius: 50%;
}

.main-cont .recently-played ul li div,
.main-cont .for-you ul li div,
.main-cont .popular-artists ul li div {
    width: 90%;
}

.main-cont .recently-played {   
    font-size: x-small;
    text-align: center;
}

.for-you,
.popular-artists {
    width: 100%;
    margin-top: 2em;
}

.recently-played {
    margin-top: 2em;
}

/* End Main */
/********End Main and Header**********************/

/* Footer */
footer {
    background-color: #2b2b2b;
    height: 4.5em;
    display: flex;
    padding: 0.5em;
}

[class^="col-footer"] {
    height: 100%;
    display: flex;
    align-items: center;
}

.col-footer-sx {/*********Star col-footer-sx*/
    width: 15%;
}

.song-container:after {   
    content: "";   
    display: table;   
    clear: both; 
}

.song-container {
    display: flex;
    width: 22%;
    min-width: 50px;
    max-height: 4em;
}

.song-container img {
    min-width: 100%;
    float: left;
    margin: 0 0.5em;
}

.song-info {
    line-height: 1.3;
    margin-top: 0.3em;
}

.song-info span {
    display: block;
    color: #b3b3b3;
    width: 100px;
}

.song-info span a {
    text-decoration: none;
    color: #b3b3b3;;
}

.col-footer-sx .song-container .album-name a {
    color: white;
    font-weight: bold;
}

.song-name {
    font-size: smaller;
}
/******************************Finish col-footer-sx*/

.col-footer-add-song {/********Start col-footer-add-song*/
    width: 4%;
    display: flex;
    justify-content: space-around;
    color: #b3b3b3;
}

.col-footer-add-song span a {
    text-decoration: none;
    color: #b3b3b3;
}/****************************End col-footer-add-song*/

.col-footer-mid {/************Start col-footer-mid*/
    width: 62%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.player-buttons {
    display: flex;
    width: 20%;
    justify-content: space-around;
    min-width: 120px;
}

.player-buttons button {
    border: none;
    background: none;
    color: white;
    font-size: 0.9em;
}

.player-buttons button:hover {
    cursor: pointer;
    color: chartreuse;
}

.player-buttons button .fa-play-circle {
    font-size: 2em;
}

/* Animation Button Undo */
.player-buttons button .fa-undo:hover {
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    0%{transform: rotate(360deg);
    }
}
/*End Animation Button Undo */
.song-time-bar {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
    font-size: x-small;
    color: white;
}

.time-bar {
    display: inline-block;
    height: 3px;
    width: 60%;
    background-color: white;
    margin-top: 0.6em;
}

.time-bar-overlap {
    display: flex;
    height: 3px;
    width: 20%;
    background-color: #b3b3b3;
    margin-top: 0.6em;
    margin-right: -1.4em;
    justify-content: flex-end;
    align-items: center;
}

.point-bar {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    visibility: hidden;
    display: inline-block;
}

.time-bar-overlap:hover {
    background-color: chartreuse;
    cursor: pointer;
}

.time-bar-overlap:hover .point-bar {
    visibility: visible;
}
    /***************************End col-footer-mid*/

.col-footer-dx {/***********Start col-footer-dx*/
    width: 19%;
    display: flex;
}

.bot-right-menu {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
}

.bot-right-menu li a {
    text-decoration: none;
    color: #b3b3b3;
}

.volume-bar {
    display: inline-block;
    height: 2px;
    background-color: white;
    width: 6em;
    margin-bottom: 0.3em;
}/***************************End col-footer-add-song*/

.col-footer-sx div span a:hover,
.col-footer-add-song span a:hover,
.col-footer-dx ul li a:hover {
    color: white;
}
/* End Footer */

/* Media Query */
@media screen and (max-width: 1110px) {
    .main-cont .recently-played ul li,
    .main-cont .for-you ul li,
    .main-cont .popular-artists ul li {
        width: calc(100% / 4);
    }

    .main-nav-container ul,
    .main-cont .recently-played ul,
    .main-cont .for-you ul,
    .main-cont .popular-artists ul {
    flex-wrap: wrap;
    }

    .main-cont .for-you ul li div {
    flex-basis: 300px;
    }

    .song-container {
        min-width: 45px;
        max-height: 3.8em;
    }

    .col-footer-add-song {
    flex-direction: column;
    padding-left: 6em;
    }
}

@media screen and (max-width: 700px) {
    .main-cont .recently-played ul li,
    .main-cont .for-you ul li,
    .main-cont .popular-artists ul li {
        min-width: 25vw;
    }
}

@media screen and (max-width: 600px) {
    .btn-top-container {
        width: calc(100vw - 50px);
        margin-left: 50px;
    }

    .header-cont {
        width: 50px;
    }

    .logo {
        display: none;
    }

    .logo-small {
        display: block;
        z-index: 999;
        width: 75%;
        margin-left: 0.4em;
    }

    .main-cont .recently-played ul li,
    .main-cont .for-you ul li,
    .main-cont .popular-artists ul li {
        min-width: 40vw;
    }

    .main-cont {
        width: calc(100vw - 50px);
    }
    
    .user-menu-container .user-menu li a span,
    .user-menu-container .install-app a span,
    .user-name-container .user-name .name,
    .install-app span,
    .music-menu-container {
        display: none;
    }

    .install-app i {
        margin-left: 0.95em;
    }

    .user-menu-container .user-menu li a img, 
    .music-menu-container .music-menu li a img,
    .user-name-container .user-name a svg {
        width: 80%;
    }

    .song-container {
        min-width: 38px;
        max-height: 3.6em;
    }
}

@media screen and (max-width: 360px) {

    .main-cont .recently-played ul li,
    .main-cont .for-you ul li,
    .main-cont .popular-artists ul li {
        min-width: 39vw;
    }

    .col-footer-sx .song-container img,
    .col-footer-dx ul .volume-bar {
        display: none;
    }

    .col-footer-sx .song-container .album-name {
        font-size: x-small;
    }

    .col-footer-sx .song-container .song-name {
        font-size: xx-small;
    }

    .col-footer-add-song {
        padding-left: 3.5em;
        font-size: 0.9em;
        }

    .col-footer-mid .song-time-bar {
        font-size: xx-small;
        gap: 0.2em;
        width: 80%;
    }

    .col-footer-dx ul {
        flex-wrap: wrap;
    }
}
/* End Media Query */